[Unit]
Description=DockerUI Service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/usr/bin/docker pull crosbymichael/dockerui
ExecStartPre=-/usr/bin/docker rm dockerui
ExecStart=/usr/bin/docker run --rm --name dockerui -p 9000:9000 -v /var/run/docker.sock:/docker.sock crosbymichael/dockerui -e /docker.sock
ExecStop=/usr/bin/docker stop dockerui
ExecStopPost=-/usr/bin/docker rm dockerui

[Install]
WantedBy=multi-user.target
